/.vs
/.idea
/LearningProject/bin
/LearningProject/obj
/LearningProject/appsettings.Development.json
/LearningProject.Test/bin
/LearningProject.Test/obj
/LearningProject.Test/appsettings.Development.json
SOLID/obj